@import "./common.css";

.characters-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background-size: cover;
  background-position: center;
}

.characters-container .character {
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}

.characters-container h3,
p {
  color: var(--light);
}

.character:hover,
.character:hover * {
  background: var(--dark);
  color: var(--primary);
}

img {
  max-width: 100%;
}

@media only screen and (max-width: 600px) {
  .characters-container {
    grid-template-columns: 1fr;
  }
}
